h1,
p {
  font-family: Lato;
}

.form {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  padding-top: 20px;
}

body {
  background-color: #f5f7fb;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionBlock--question {
  font-family: 'Karla', Arial;
  font-size: 16px;
  color: #293264;
  font-style: normal;
  font-weight: 700;
}

.answer--button {
  border-radius: 8px;
  font-family: 'Inter', Arial;
  padding: 5px 20px;
  color: #293264;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 12.75px;
}

.answerBlock {
  display: flex;
  flex-direction: column;
}

.submit--button {
  border-radius: 8px;
  font-family: 'Inter', Arial;
  padding: 10px 20px;
  color: #f5f7fb;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  background-color: #4d5b9e;
}

.results {
  font-family: 'Inter', Arial;
  font-weight: 700;
  color: #293264;
  font-size: 13px;
}

.submitBlock {
  display: flex;
  justify-content: center;
}
